@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-login {
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
}

.rounded-regist {
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
}

.gradient-login {
    background: rgb(227,245,255);
    background: linear-gradient(270deg, rgba(227,245,255,1) 0%, rgba(106,164,217,1) 63%);
}

.gradient-regist {
    background: rgb(227,245,255);
background: linear-gradient(90deg, rgba(227,245,255,1) 0%, rgba(106,164,217,1) 63%);
}

.tinggi {
    height: 100%;
}

.bg-custom {
    background-image: url('../../images/bg-1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-custom-1 {
    background-image: url('../../images/bg-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.bg-custom-3 {
    background-image: url('../../images/bg-3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

